<div class="page-in">

    <div class="fof">

        <div class="fof-message-1">
            Oh no!&nbsp;&nbsp;:'(
        </div>

        <div class="fof-message-2">
            The page you are looking for does not exist.
        </div>

        <div class="fof-video-container frow row-center">
            <iframe src="http://www.youtube.com/embed/ijZRCIrTgQc?vq=hd720&rel=0&showinfo=0&controls=0&iv_load_policy=3&loop=1&modestbranding=1&autoplay=1&start=68" width="560" height="315" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
        </div>


        <div class="fof-quotes">
            {{visibleQuotes}}
        </div>

        <div class="fof-quoted">
            {{visibleQuoted}}
        </div>

    </div>

</div>
