<div class="frow">
    <div class="col-md-2-3">
        <div class="calendar-contain page card-shadow page-in">
            <h2>Setup your office hours</h2>
            <div class="frow">
                <div class="col-md-2-3 col-sm-1-2">
                    <form>
                        <p><strong>Repeats <u>Monthly</u> on:</strong></p>
                        <select class="form-control" id="ohours-repeat">
                            <option>the 1st</option>
                            <option>the 2nd</option>
                            <option>the 3rd</option>
                            <option>the 4th</option>
                        </select>
                        <br/>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Sunday">S
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Monday">M
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Tuesday">T
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Wednesday">W
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Thursday">T
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Friday">F
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Saturday">S
                        </label>
                        <br/><br/>
                        <div class="frow">
                            <div class="col-md-1-2">
                                <p><strong>From:</strong></p>
                                    <input type="Time" class="form-control" id="ohours-from-time">
                            </div>
                            <div class="col-md-1-2">
                                <p><strong>To:</strong></p>
                                    <input type="Time" class="form-control" id="ohours-to-time">
                            </div>
                        </div>
                        <br/>
                        <p><strong>@:</strong></p>
                            <input type="search" class="form-control" id="ohours-location">
                        <br/>
                        <p><strong>Starting on:</strong></p>
                            <input type="date" class="form-control" id="ohours-start-date">
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
