<!--- for logo section -->

<div class="row topThird">
	<div class="col-lg-12">
		<h1>Welcome to BN Mentors!</h1>
		<p>Providing a platform of accessible mentors for all aspects of the BN Commmunity</p>
		<p id="sponsor">Below are some of our community sponors</p>
	</div>
</div>


	
<div class="midThirdWrapper">
	<div class="row midThird">
		
		<div class="col-sm-2">
			<p><img src="/images/home/CIRBN.png"></p>
		</div>
		<div class="col-sm-2">
			<p><img src="/images/home/emergingBusinessServices.jpg"></p>
		</div>
			<div class="col-sm-3 ">
			<p><img src="/images/home/Mavidea.png"></p>
		</div>
		<div class="col-sm-2 ">
			<p><img src="/images/home/MirusResearch.png"></p>
		</div>
		<div class="col-sm-3 ">
			<p><img src="/images/home/state-farm_logo.png"></p>
		</div>
		
	
	</div>

	<div class="row midThird">
		
		<div class="col-sm-3 imgMakeSmall">
			<p><img src="/images/home/Town of Normal.png"></p>
		</div>
		<div class="col-sm-3 imgMakeSmall">
			<p><img src="/images/home/BloomingtonNormal Angel Investor Network.png"></p>
		</div>
			<div class="col-sm-3 imgMakeSmall">
			<p><img src="/images/home/Illinois_State_University_Seal.png"></p>
		</div>
		<div class="col-sm-3 bartell">
			<p><img src="/images/home/BartellPowell.png"></p>
		</div>
	</div>

</div>


<div class="row midThird2">
	<div class="col-sm-4 ">
		<!-- GLYPHICON GOES HERE -->
		<h4>Learn & Grow</h4>
		<p>Master the skills you desire with the help of a local expert.</p>
	</div>

	<div class="col-sm-4 ">
		<!-- GLYPHICON GOES HERE -->
		<h4>Build Relationships</h4>
		<p>Schedule one-on-ones with the mentor of your choice.</p>
	</div>

	<div class="col-sm-4 ">
		<!-- GLYPHICON GOES HERE -->
		<h4>Guidance</h4>
		<p>Secure advice for conquering your toughest hurdles.</p>
	</div>

</div>

















	<div class="row bottomThird">
		<div class="col-lg-2">
			<p>Search for Mentor</p>
		</div>

		<div class="col-lg-8">
			<div class="form-group">
				<input type="text" placeholder="Enter an Expterise" class="form-control" >
			</div>
		</div>

		<div class="col-lg-2">
			<button type="button" class="btn btn-default">Search</button>
		</div>
		
	</div>



