<!--- HERO AREA -->

 <div class="row">
 	<div class="col-md-12">
		 <div class="arrow-box">
			<div class="home-image-overlay">
						<h1>Snag Coffee with Local Leaders</h1>

<!-- LEADER SEARCH -->
				<div class="row">
					<div class="search-box-text">
						<div class="col-md-6"></div>
						<div class="col-md-4">				
							<p>Search for Local Leaders</p>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
				<div class="row">
					<div class="search-box">
						<div class="col-md-6"></div>
						<div class="col-md-4">
							<div class="home-saerch-box">
								<div class="form-group">
									<input type="text" placeholder="Enter an Expterise" class="form-control" >
								</div>
							</div>
						</div>
						<div class="col-lg-1">
							<button type="button" class="btn btn-default">Search</button>
						</div>
						<div class="col-lg-1"></div>	
					</div>	
				</div>			

<!-- END LEADER SEARCH -->

			</div>
		</div>
	</div>
</div>

<!-- END HERO AREA -->

<!-- SPONSOR AREA -->

 <div class="arrow-box2">
 <div class="sponsor">
	<div class="row">
		<div class="col-md-1 col-xs-6"></div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/CIRBN.png"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/emergingBusinessServices.jpg"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/Mavidea.png"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/MirusResearch.png"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/state-farm_logo.png"></div>
		</div>
		<div class="col-md-1 col-xs-6"></div>
	</div>
	<div class="row">
		<div class="col-md-2 col-xs-6"></div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/Town of Normal.png" class="sponsor-portrait-no"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/BloomingtonNormal Angel Investor Network.png" class="sponsor-portrait-no"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/Illinois_State_University_Seal.png" class="sponsor-portrait-no"></div>
		</div>
		<div class="col-md-2 col-xs-6">
			<div class="sponsor-icon"><img src="/images/home/BartellPowell.png" class="sponsor-portrait-no"></div>
		</div>
		<div class="col-md-2 col-xs-6"></div>
	</div>
	</div>
</div>

<!-- END SPONSOR AREA -->

<!-- BENIFIT AREA -->
<div class="benifits">
	<div class="row">
		<div class="col-md-4 "><center>
			<h4>Learn & Grow</h4>
			<p>Master the skills you desire with the help of a local expert.</p></center>
		</div>
		<div class="col-md-4 "><center>
			<h4>Build Relationships</h4>
			<p>Schedule one-on-ones with the mentor of your choice.</p></center>
		</div>
		<div class="col-md-4 "><center>
			<h4>Guidance</h4>
			<p>Secure advice for conquering your toughest hurdles.</p></center>
		</div>
	</div>
</div>

<div class="benifits">
	<div class="row">
		<div class="col-md-2 "><center>
		</div>
		<div class="col-md-4 "><center>
			<h4>Free to use</h4>
			<p>This app was built by the community for the community.</p></center>
		</div>
		<div class="col-md-4 "><center>
			<h4>BloNo Fosho</h4>
			<p>Exclusivly for the Bloomington-Normal and surrounding area</p></center>
		</div>
		<div class="col-md-2 "><center>
		</div>
	</div>
</div>


<!-- END BENIFIT AREA -->







