<!--- for logo section -->

<div class="row topThird">
	<div class="col-lg-12">
		<h1>Welcome to BN Mentors!</h1>
		<p>Providing a platform of accessible mentors for all aspects of the BN Commmunity</p>
		<p id="sponsor">Below are some of our community sponors</p>
	</div>
</div>


	

	<div class="row midThird">
		<div class="col-sm-6 col-md-6  col-lg-4">
			<p><img src="/images/home/smileyface.png"></p>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4">
			<p><img src="/images/home/smileyface.png"></p>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4">
			<p><img src="/images/home/smileyface.png"></p>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4">
			<p><img src="/images/home/smileyface.png"></p>
		</div>
	</div>



