<!--- HERO AREA -->

 <div class="row">
    <div class="col-md-12">
         <div class="arrow-box">
            <div class="mentor-image-overlay">
                <h1 style="color:white;">Share a Little of Yourself</h1>
<!-- LEADER SEARCH -->
                    <div class="row">
                        <div class="button-text">
                            <div class="col-md-6">
                                <ul class="checkmark-text">
                                    <li> Schedule recurring office hours</li>
                                    <li> Pick your favorite meeting location</li>
                                    <li> Confirm or cancle office hours via email</li>
                                    <li> Notification of requests to meet, option to accept</li>
                                    <li> Super simple, super quick set up</li>
                                </ul>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">              
                                <p>Post Some Office Hours</p>
                                <button type="button" class="btn btn-default mentors-button">Simple Signup</button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-lg">I'm In... Let's Do This</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div> -->
<!-- END LEADER SEARCH -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END HERO AREA -->

<!-- SPONSOR AREA -->

 <div class="arrow-box2">
 <div class="sponsor">
    <div class="row">
        <div class="col-md-1 col-xs-6"></div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/CIRBN.png"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/emergingBusinessServices.jpg"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/Mavidea.png"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/MirusResearch.png"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/state-farm_logo.png"></div>
        </div>
        <div class="col-md-1 col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-6"></div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/Town of Normal.png" class="sponsor-portrait-no"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/BloomingtonNormal Angel Investor Network.png" class="sponsor-portrait-no"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/Illinois_State_University_Seal.png" class="sponsor-portrait-no"></div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="sponsor-icon"><img src="/images/home/BartellPowell.png" class="sponsor-portrait-no"></div>
        </div>
        <div class="col-md-2 col-xs-6"></div>
    </div>
    </div>
</div>

<!-- END SPONSOR AREA -->

<!-- BENEFiT AREA -->
<div class="benefits">
    <div class="row">
        <div class="col-md-4 "><center>
        <img src="/images/mentors/pay-it-forward.png" alt="pay-it-forward.png">
            <h4>Pay it forward</h4>
            <p>Where would you be if no one took you to coffee? Just sayin'. No committments but you never know where a coffee will lead.</p></center>
        </div>
        <div class="col-md-4 "><center>
        <img src="/images/mentors/share-your-experience.png" alt="share-your-experience.png">
            <h4>Share Your Experinces</h4>
            <p>Your experince is likley more valuable than you know, it can change a life. you got this.</p></center>
        </div>
        <div class="col-md-4 "><center>
        <img src="/images/mentors/common-interest.png" alt="common-interest.png">
            <h4>Common Interests</h4>
            <p>It's fun to talk with someone who's passionate about common interests. You'll be surprised how much potential our community has.</p></center>
        </div>
    </div>
</div>

<div class="benefits">
    <div class="row">
        <div class="col-md-2 "><center>
        </div>
        <div class="col-md-4 "><center>
        <img src="/images/mentors/invest-local.png" alt="invest-local.png">
            <h4>Invest Local</h4>
            <p>Our people are the communities biggest asset and you can make a difference with a cup of coffee every now and then. It's worth it.</p></center>
        </div>
        <div class="col-md-4 "><center>
        <img src="/images/mentors/blono-fosho.png" alt="blono-fosho.png">
            <h4>BloNo Fosho</h4>
            <p>Exclusively for the Bloomington-Normal and surrounding areas. Let's keep our community vibrant and a great place to live and grow together.</p></center>
        </div>
        <div class="col-md-2 "><center>
        </div>
    </div>
</div>

<div class="benefits">
    <div class="row">
        <div class="col-md-4 "><center>
        <img src="/images/mentors/schedule-once.png" alt="schedule-once.png">
            <h4>Schedule Once</h4>
            <p>Take a few minutes to set up recurring office hours once and wait for someone to request a meeting. Could be as little as an hour a quarter.</p></center>
        </div>
        <div class="col-md-4 "><center>
        <img src="/images/mentors/RSVP-email.png" alt="RSVP-email.png">
            <h4>RSVP via eMail</h4>
            <p>If someone requests to meet durring your office hours you decide if you want to meet with them. One click RSVP or Cancel.</p></center>
        </div>
        <div class="col-md-4 "><center>
        <img src="/images/mentors/go-for-it.png" alt="go-for-it.png">
            <h4>Go for it</h4>
            <p>It's really not that big a deal. It's a coffee. But it could make a huge impact on someone's life and the community you live in.</p></center>
        </div>
    </div>
</div>


<!-- END BENEFiT AREA -->

<div class="bottom-bar"></div>






