
<!-- OUR STORY -->

<div class="container">
    <div class="row">
    
        <div class="col-md-12"> 
            <div class="about-image-overlay">
              <h3 class="about-image-title">Our Story</h3>
              <p>We are a group of hackers who believed in an idea and came together to build it along side Bloomington Normal’s tech companies and startup community. We had fun developing a custom web app to help others and that was reward enough. Our hope is that the community will respond and it’s leaders will create office hours to give of themselves and help our community be stick and strong! </p>
            </div>      
 </div>
</div>

<!-- End OUR STORY -->



<!-- OUR VALUES -->

 <div class="row">
		  <div class="col-md-12">
		  	<center><h3 class="about-values">Our Values</h3></center>
		  </div>
 </div>
 
 <div class="row">
 	<center>
		  <div class="col-md-3">
		  	<h4>Other focused</h4>
		  	<p>We are completely focused on others. Selfish motives are lame and don’t fit here.</p> 
		  </div>
		  <div class="col-md-3">
		  	<h4>Giving</h4>
		  	<p>We give without thought of what we might give back. It's all about helping others.</p> 
		  </div>
		    <div class="col-md-3">
		  	<h4>Humility</h4>
		  	<p>Domain expertise doesn’t put anyone above anyone else. We put ourselves beneath those we serve.</p> 
		  </div>
		    <div class="col-md-3">
		  	<h4>Stewardship</h4>
		  	<p class="about-stewardship">This isn’t anyone’s job but it’s important and we can do it, so we believe that means we should.</p>
		  </div>
  	</center>
 </div>

<!-- END OUR VALUES -->


<!-- OUR VISION -->

<div class="row">
	<div class="col-md-12"> 
		<div class="about-image-overlay-vision">
			<h3 class="about-image-title">Our Vision</h3>
			<p>A stronger, more open and connected Bloomington Normal where today’s leaders hold office hours to help tomorrow’s lead here.</p>
		</div>      
	</div>
</div>

<!-- END OUR VISION -->

<!-- IT BE US -->

	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Becca Neblock Content Queenbee.JPG" alt="_____">
			  	<p><strong>Becca Neblock</strong><br/>Content Queenbee</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Brandon.Frisch_Sir Speaks with Eaze.JPG" alt="Brandon.Frisch_Sir Speaks with Eaze">
			  	<p><strong>Brandon Frisch</strong><br/>Sir Speaks with Eaze</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Brian.Jesse_Rocket Surgen.JPG" alt="Brian.Jesse_Rocket Surgen">
				<p><strong>Brian Jesse</strong><br/>Rocket Surgen</p>
			</div>
		</div>
 	</div>

 <!-- second row -->

	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Cody.Sherman_The Code Man.JPG" alt="Cody.Sherman_The Code Man.JPG">
			  	<p><strong>Cody Sherman</strong><br/>The Code Man</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Connor.Joyce_ISU Student 737.JPG" alt="Connor.Joyce_ISU Student #737.JPG">
			  	<p><strong>Connor Joyce</strong><br/>ISU Student #737</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Dave.Seng_Lederhosen Procurer.JPG" alt="Dave.Seng_Lederhosen Procurer.JPG">
				<p><strong>Dave Seng</strong><br/>Lederhosen Procurer</p>
			</div>
		</div>
 	</div>

 <!-- third row -->

   	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Hani.Ahmed_Bust a Move.JPG" alt="Hani.Ahmed_Bust a Move.JPG">
			  	<p><strong>Hani Ahmed</strong><br/>Bust a Move</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Jason.Lerblance_The Google Godfather.JPG" alt="Jason.Lerblance_The Google Godfather.JPG">
			  	<p><strong>Jason Lerblance</strong><br/>The Google Godfather</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Joe.Ciccolo_Purveyor of Compliance.JPG" alt="Joe.Ciccolo_Purveyor of Compliance.JPG">
				<p><strong>Joe Ciccolo</strong><br/>Purveyor of Compliance</p>
			</div>
		</div>
 	</div>

 <!-- fourth row -->

  	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Mark.Williams_The Pen is Mighter than the Code.JPG" alt="Mark.Williams_The Pen is Mighter than the Code.JPG">
			  	<p><strong>Mark.Williams</strong><br/>The Pen is Mighter than the Code</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Matt.Christensen_Double O 9 on a Half Shell.JPG" alt="Matt.Christensen_Double O 9 on a Half Shell.JPG">
			  	<p><strong>Matt Christensen</strong><br/>Double O 9 on a Half Shell</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Michael.Guarienti_Happy Graphics.JPG" alt="Michael.Guarienti_Happy Graphics.JPG">
				<p><strong>Michael.Guarienti</strong><br/>Mr. Happy Graphics</p>
			</div>
		</div>
 	</div>

 <!-- end fourth row -->


  <!-- fifth row -->

  	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Rebecca.Barber_Turns Tea to Code.JPG" alt="Rebecca.Barber_Turns Tea to Code.JPG">
			  	<p><strong>Rebecca.Barber</strong><br/>Turns Tea to Code</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Ryan.Spears_Jucie Box Guy.JPG" alt="Ryan.Spears_Jucie Box Guy.JPG">
			  	<p><strong>Ryan Spears</strong><br/>Jucie Box Guy</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Taylor.Roop_www.jediknight.http.JPG" alt="Taylor.Roop_www.jediknight.http.JPG">
				<p><strong>Taylor Roop</strong><br/>www.jediknight.http.JPG</p>
			</div>
		</div>
 	</div>

 <!-- end fifth row -->


   <!-- sixth row -->

  	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Zack.Weber_The Most Funnest Guy Eva.JPG" alt="Zack.Weber_The Most Funnest Guy Eva.JPG">
			  	<p><strong>Zack Weber</strong><br/>The Most Funnest Guy Eva</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Culture of Code.jpg" alt="_____">
			  	<p><strong>name</strong><br/>title</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Culture of Code.jpg" alt="_____">
				<p><strong>name</strong><br/>title</p>
			</div>
		</div>
 	</div>

 <!-- end sixth row -->


  <!-- seventh row -->

  	<div class="row">
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Culture of Code.jpg" alt="_____">
			  	<p><strong>name</strong><br/>title</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Culture of Code.jpg" alt="_____">
			  	<p><strong>name</strong><br/>title</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about-bios">
				<img class="about-pics" src="/images/about/Culture of Code.jpg" alt="_____">
				<p><strong>name</strong><br/>title</p>
			</div>
		</div>
 	</div>

 <!-- end seventh row -->

<!-- END IT BE US -->


