
<!-- OUR STORY -->

<div class="container">
    <div class="row">
    
        <div class="col-md-12"> 
            <div class="about-image-overlay">
              <h3 class="about-image-title">Our Story</h3>
              <p>We are a group of hackers who believed in an idea and came together to build it along side Bloomington Normal’s tech companies and startup community. We had fun developing a custom web app to help others and that was reward enough. Our hope is that the community will respond and it’s leaders will create office hours to give of themselves and help our community be sticky and strong! </p>
            </div>      
 </div>
</div>

<!-- End OUR STORY -->



<!-- OUR VALUES -->

 <div class="row">
          <div class="col-md-12">
            <center><h3 class="about-values">Our Values</h3></center>
          </div>
 </div>
 
 <div class="row">
    <center>
          <div class="col-md-3">
          <img src="/images/ourstory/other-focused.png" alt="other-focused.png">
            <h4>Other focused</h4>
            <p>We are completely focused on others. Selfish motives are lame and don’t fit here.</p> 
          </div>
          <div class="col-md-3">
          <img src="/images/ourstory/giving.png" alt="giving.png">
            <h4>Giving</h4>
            <p>We give without thought of what we might get back. It's all about helping others.</p> 
          </div>
            <div class="col-md-3">
            <img src="/images/ourstory/humility.png" alt="humility.png">
            <h4>Humility</h4>
            <p>Domain expertise doesn’t put anyone above anyone else. We put ourselves beneath those we serve.</p> 
          </div>
            <div class="col-md-3">
            <img src="/images/ourstory/stewardship.png" alt="stewardship.png">
            <h4>Stewardship</h4>
            <p class="about-stewardship">This isn’t anyone’s job but it’s important and we can do it, so we believe that means we should.</p>
          </div>
    </center>
 </div>

<!-- END OUR VALUES -->


<!-- OUR VISION -->

<div class="row">
    <div class="col-md-12"> 
        <div class="about-image-overlay-vision">
            <h3 class="about-image-title-vision">Our Vision</h3>
            <p class="about-text-shadow">A stronger, more open and connected Bloomington Normal <br/>where today’s leaders hold office hours to help tomorrow’s leaders, lead here.</p>
        </div>      
    </div>
</div>

<!-- END OUR VISION -->

<!-- IT BE US -->
<center><h3>Friday Crew</h3></center>
    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Becca-Neblock-Content-Queenbee.JPG" alt="_____">
                <p><strong>Becca Neblock</strong><br/>Content Queenbee</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brandon.Frisch-Sir-Speaks-with-Eaze.JPG" alt="Brandon.Frisch_Sir Speaks with Eaze">
                <p><strong>Brandon Frisch</strong><br/>Sir Speaks with Eaze</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brian.Jesse-Rocket-Surgen.JPG" alt="Brian.Jesse_Rocket Surgen">
                <p><strong>Brian Jesse</strong><br/>Rocket Surgeon</p>
            </div>
        </div>
    </div>

 <!-- second row -->

    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Cody.Sherman-The-Code-Man.JPG" alt="Cody.Sherman_The Code Man.JPG">
                <p><strong>Cody Sherman</strong><br/>The Code Man</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Connor.Joyce-ISU-Student-737.JPG" alt="Connor.Joyce_ISU Student #737.JPG">
                <p><strong>Connor Joyce</strong><br/>ISU Student #737</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Dave.Seng-Lederhosen-Procurer.JPG" alt="Dave.Seng_Lederhosen Procurer.JPG">
                <p><strong>Dave Seng</strong><br/>Lederhosen Procurer</p>
            </div>
        </div>
    </div>

 <!-- third row -->

    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Hani.Ahmed-Bust-a-Move.JPG" alt="Hani.Ahmed_Bust a Move.JPG">
                <p><strong>Hani Ahmed</strong><br/>Bust a Move</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Jason.Lerblance-The-Google-Godfather.JPG" alt="Jason.Lerblance_The Google Godfather.JPG">
                <p><strong>Jason Lerblance</strong><br/>The Google Godfather</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Joe.Ciccolo-Purveyor-of-Compliance.JPG" alt="Joe.Ciccolo_Purveyor of Compliance.JPG">
                <p><strong>Joe Ciccolo</strong><br/>Purveyor of Compliance</p>
            </div>
        </div>
    </div>

 <!-- fourth row -->

    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Mark.Williams-The-Pen-is-Mighter-than-the-Code.JPG" alt="Mark.Williams_The Pen is Mighter than the Code.JPG">
                <p><strong>Mark.Williams</strong><br/>The Pen is Mighter than the Code</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Matt.Christensen-Double-O-9-on-a-Half-Shell.JPG" alt="Matt.Christensen_Double O 9 on a Half Shell.JPG">
                <p><strong>Matt Christensen</strong><br/>Double O 9 on a Half Shell</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Michael.Guarienti-Happy-Graphics.JPG" alt="Michael.Guarienti_Happy Graphics.JPG">
                <p><strong>Michael.Guarienti</strong><br/>Mr. Happy Graphics</p>
            </div>
        </div>
    </div>

 <!-- end fourth row -->


  <!-- fifth row -->

    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Rebecca.Barber-Turns-Tea-to-Code.JPG" alt="Rebecca.Barber_Turns Tea to Code.JPG">
                <p><strong>Rebecca.Barber</strong><br/>Turns Tea to Code</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Ryan.Spears-Jucie-Box-Guy.JPG" alt="Ryan.Spears_Juice Box Guy.JPG">
                <p><strong>Ryan Spears</strong><br/>Juice Box Guy</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Taylor.Roop-www.jediknight.http.JPG" alt="Taylor.Roop_www.jediknight.http.JPG">
                <p><strong>Taylor Roop</strong><br/>www.jediknight.https</p>
            </div>
        </div>
    </div>

 <!-- end fifth row -->


   <!-- sixth row -->

    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Zack.Weber-The-Most-Funnest-Guy-Eva.JPG" alt="Zack.Weber_The Most Funnest Guy Eva.JPG">
                <p><strong>Zack Weber</strong><br/>The Most Funnest Guy Eva</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brandon.Burton-Backend-Devbegin.JPG" alt="Brandon.Burton_Backend_Devbegin.JPG">
                <p><strong>Brandon Burton</strong><br/>Backend Devbegin</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Michael.Somers-Excited-to-be-Here.JPG" alt="Michael.Somers-Excited-to-be-Here.JPG">
                <p><strong>Michael Somers</strong><br/>Excited to be Here</p>
            </div>
        </div>
    </div>

 <!-- end sixth row -->


  <!-- seventh row -->

 <center><h3>Friday Night Crew</h3></center>

     <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Shubhang.Desai-But-I-Wanted-to-Do-the-Sorority-Squat.JPG" alt="Shubhang.Desai_Buty I Wanted to Do the Sorority Squat.JPG">
                <p><strong>Shubhang Desai</strong><br/>But I Wanted to Do the Sorority Squat</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Ryan.Greene-Linux-Battle-Warrior.JPG" alt="Ryan.Greene_Linux Battle Warrior.JPG">
                <p><strong>Ryan Greene</strong><br/>Linux Battle Warrior</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/David.Schiller-Can't-We-All-Get-Along.JPG" alt="David.Schiller_Can't We All Get Along.JPG">
                <p><strong>David Schiller</strong><br/>Can't We All Get Along</p>
            </div>
        </div>
    </div>
    

 <!-- end seventh row -->

   <!-- eigth row -->

<div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brian.Jesse-This-Just-Got-Weird.JPG" alt="Brian.Jesse_This Just Got Weird.JPG">
                <p><strong>Brian Jesse</strong><br/>This Just Got Weird</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Cody.Sherman-The-Man-with-The-Golden-Code.JPG" alt="Cody.Sherman_The Man with The Golden Code.JPG">
                <p><strong>Cody Sherman</strong><br/>The Man with The Golden Code</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Michael.Somers-Past-my-Bed-Time.JPG" alt="Michael.Somers_Past my Bed Time.JPG">
                <p><strong>Michael Somers</strong><br/>It's Way Past my Bed Time</p>
            </div>
        </div>
    </div>

 <!-- end eigth row -->

    <!-- nineth row -->
 <center><h3>Saturday Crew</h3></center>
    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brian.Jesse-Turns-trip-to-Code.jpg" alt="Brian.Jesse-Turns-trip-to-Code.jpg">
                <p><strong>Brian Jesse</strong><br/>Roadtrip Coderpilot</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Joe.Ciccolo-bitman.JPG" alt="Joe.Ciccolo-bitman.JPG">
                <p><strong>Joe Ciccolo</strong><br/>bitman</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brandon.Burton-Where-did-the-music-go.JPG" alt="Brandon.Burton-Where-did-the-music-go.JPG">
                <p><strong>Brandon Burton</strong><br/>Where did the Music Go</p>
            </div>
        </div>
    </div>

 <!-- end ninth row -->

     <!-- tenth row -->

    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Cody.Sherman-Coding-Sweetheart.JPG" alt="Cody.Sherman-Coding Sweetheart.JPG">
                <p><strong>Cody Sherman</strong><br/>Coding Sweetheart</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Becca.Neblock-Locally.ai.JPG" alt="Becca.Neblock-Locally.ai.JPG">
                <p><strong>Becca Neblock</strong><br/>Locally.ai</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Ryan.Greene_db-controller.connect.JPG" alt="Ryan.Greene_db-controller.connect.JPG">
                <p><strong>Ryan Greene</strong><br/>db controll.connect</p>
            </div>
        </div>
    </div>

 <!-- end tenth row -->

     <!-- eleventh row -->

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Shubhang.Desai-New-Hair-Cut.JPG" alt="Shubhang.Desai-New-Hair-Cut.JPG">
                <p><strong>Shubhang Desai</strong><br/>Check Out My New Hair Cut</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Michael.Somers-coding-by-his-bootstraps.JPG" alt="Michael.Somers-coding-by-his-bootstraps.JPG">
                <p><strong>Michael Somers</strong><br/>Coding by his Bootstraps</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

 <!-- end eleventh row -->

     <!-- 12th row -->
 <center><h3>Saturday Night Crew</h3></center>
    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Becca.Neblock-Iconic.psd.JPG" alt="Becca.Neblock-Iconic.psd.JPG">
                <p><strong>Becca Neblock</strong><br/>Iconic.psd</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Thomas.White-here@awesome.clutch.JPG" alt="Thomas.White-here@awesome.clutch.JPG">
                <p><strong>Thoma White</strong><br/>here@awesome.clutch</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brian.Jesse-Remote-Hacker-Selfie.jpg" alt="Brian.Jesse-Remote-Hacker-Selfie.jpg">
                <p><strong>Brian Jesse</strong><br/>Remote Hacker Selfie</p>
            </div>
        </div>
    </div>

<!-- end 12th row -->

<!-- 13th row -->
    <div class="row">
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Brandon.Burton-It's-Code.JPG" alt="Brandon.Burton-It's-Code.JPG">
                <p><strong>Brandon Burton</strong><br/>It's Code</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Shubhang.Desai-That's-a-rap-pose-man.JPG" alt="Shubhang.Desai-That's-a-rap-pose-man.JPG">
                <p><strong>Shubhang Desai</strong><br/>That's a Rap Pose Man</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Ryan.Greene-Yeah.Man.JPG" alt="Ryan.Greene-Yeah.Man.JPG">
                <p><strong>Ryan Greene</strong><br/>Yeah.Man</p>
            </div>
        </div>
    </div>

<!-- end 13th row -->

<!-- eleventh row -->

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Cody.Sherman-Dude-Somebody-Play-the-Muszak.JPG" alt="Cody.Sherman-Dude-Somebody-Play-the-Muszak.JPG">
                <p><strong>Cody Sherman</strong><br/>Dude Somebody Play the Muszak</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-bios">
                <img class="about-pics" src="/images/about/Michael.Somers-CSS3-Transformer.JPG" alt="Michael.Somers-CSS3-Transformer.JPG">
                <p><strong>Michael Somers</strong><br/>CSS3 Transformer</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

 <!-- end eleventh row -->

<!-- END IT BE US -->

<div footer-directive></div>


