<div class="frow">
    <div class="col-md-3-4">
        <div class="page card-shadow page-in">
            <button type="submit" class="btn btn-primary profile-button-edit pull-right" ng-click="toggleEdit()">{{edit ? 'Save' : 'Edit'}}</button>

            <div class="profile-page-title">{{profile.name}}'s Profile</div>

            <div class="profile-image">
                <img ng-show="avatar" class="profile-image" ng-src="{{avatar}}">
                <img ng-hide="avatar" class="profile-image" ng-src="/images/profile/default.jpg">
                <a href="https://gravatar.com/" target="_blank" ng-show="edit">{{avatar ? 'Edit' : 'Upload Image'}}</a>
            </div>

            <div class="profile-view-container">
                <div class="profile-info">

                    <div class="profile-contact">
                        <div class="frow gutter" ng-hide="edit">
                            <div class="col-md-1-4">
                                <div class="profile-contact-input">{{profile.name}}</div>
                            </div>
                            <div class="col-md-1-4">
                                <div class="profile-contact-input">{{profile.jobTitle}}</div>
                            </div>
                            <div class="col-md-1-4">
                                <div class="profile-contact-input">{{profile.email}}</div>
                            </div>
                            <div class="col-md-1-4">
                                <div class="profile-contact-input">{{profile.phone}}</div>
                            </div>
                        </div>
                        <div class="frow gutter" ng-show="edit">
                            <div class="col-md-1-4">
                                <input type="text" class="form-control" ng-model="profile.name" placeholder="Name">
                            </div>
                            <div class="col-md-1-4">
                                <input type="text" class="form-control" ng-model="profile.jobTitle" placeholder="Job Title">
                            </div>
                            <div class="col-md-1-4">
                                <input type="text" class="form-control" ng-model="profile.email" placeholder="Email">
                            </div>
                             <div class="col-md-1-4">
                                <input type="text" class="form-control" ng-model="profile.phone" placeholder="Phone">
                            </div>
                        </div>
                    </div>

                    <div class="profile-skills-container">
                        <div class="profile-skills-title">My Skills / Interests</div>
                        <div class="profile-skill-tags">
                            <div class="frow">
                                <div class="profile-skill-tag" ng-hide="edit" ng-repeat="skill in profile.skills">#{{skill}}</div>
                                <input type="text" class="profile-skill-tag-input form-control" ng-model="profile.skills" ng-show="edit" ng-list required placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="profile-bio">
                        <div class="profile-shortbio">
                            <input class="shortbio-input form-control" type="text" ng-show="edit" ng-model=profile.shortbio placeholder="Short Bio: Keep it under 140 words" shortbio = {{profile.shortbio}}>
                            <div class="shortbio-input" ng-hide="edit" ng-model=profile.shortBio class="ng-hide">{{profile.shortBio}}</div>
                        </div>
                    </div>

                    <div class="profile-scheduled">{{profile.schedule}}</div>

                    <div class="profile-submit">
                        <input class="btn btn-default" type="submit" value="Schedule 'Office' Hours" >
                        <input class="btn btn-default" type="submit" value="Find a Mentor">
                    </div>
                </div>
            </div>
        </div>
        <div class="page card-shadow page-in">
            <h2>Setup your office hours</h2>
            <div class="frow">
                <div class="col-md-5-6">
                    <form>
                        <div class="calendar-section">
                            <p><strong>Repeats <u>monthly</u> on:</strong></p>
                            <div class="frow gutters">
                                <div class="col-md-1-3">
                                    <select class="form-control" id="ohours-repeat">
                                        <option>The 1st</option>
                                        <option>The 2nd</option>
                                        <option>The 3rd</option>
                                        <option>The 4th</option>
                                    </select>
                                </div>
                                <div class="col-md-2-3">
                                    <div class="calendar-day-picker">
                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Sunday">Sun
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Monday">Mon
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Tuesday">Tue
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Wednesday">Wed
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Thursday">Thr
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Friday">Fri
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" name="day" value="Saturday">Sat
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-section">
                            <div class="frow gutters">
                                <div class="col-md-1-2">
                                    <p><strong>From:</strong></p>
                                    <input type="Time" class="form-control" id="ohours-from-time">
                                </div>
                                <div class="col-md-1-2">
                                    <p><strong>@:</strong></p>
                                    <input type="search" class="form-control" placeholder="Location" id="ohours-location">
                                </div>
                            </div>
                        </div>
                        <div class="frow">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
