<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="search-title"> My search results</h3>
        <div class="search-row page card-shadow" ng-repeat="result in searchResults">
            <div class="row">
                <div class="col-md-2">
                    <img class="search-result-image" src="/images/profile/default.png">
                </div>
                <div class="col-md-7">
                    <div class="search-name">{{result.name}}, <span class="search-job-title" >{{result.jobTitle}}</span> </div>
                    <div class="search-info">
                        <div class="search-skills" ng-repeat="skill in result.skills">#{{skill}}</div>
                        <div class="search-bio">{{result.bio | limitTo : 140}}...</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="search-view-profile-button">
                        <button type="button" class="btn btn-info">View Profile</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
