<div class="row">
  <div class="col-lg-12 signup-center">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="signup-email" ng-model="profile.email" placeholder="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="signup-password" ng-model="profile.password" placeholder="password">
        </div>
        <div class="form-group">
          <div>{{profile.email}}</div>
        </div>
        <div class="form-group">
          <div>{{profile.password}}</div>
        </div>

        <button type="submit" class="btn btn-primary">Signup!</button>

      </form>
  </div>
</div>
