@keyframes header-slide-in {
    from { transform: translateY(-50px); }
    to { transform: translateY(0px); }
}

#logo {
    img {
        margin: 10px 0;
        max-width: 200px;
        width: 100%;
        height: auto;
    }
}

#header-wrap {
    border-bottom: 1px solid rgba(0,0,0,.2);
    width:100%;
    background-color: #fff;
    animation: header-slide-in 0.5s ease forwards;
}

.header-nav {
    height: 90px;

    a {
        margin: 0 20px;
        display: inline-block;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;

        &:last-child {
            margin-right: 0px;
        }
    }
}

/* XS, SM */
@media (max-width: 991px) {
    .header-nav {
        font-size: 12px;
    }
}
