.col-lg-12{

	h1{
		margin-top-top: 100px;
		padding-top: 10px;
		font-size: 100px;
		text-align: center;
	}

	p{
		font-size: 25px;
		text-align: center;
		width: auto !important;
		height: auto !important;
	}
}

#sponsor{
	font-size: 20px;
	font-style: asap;
	margin-top: 150px;
}


.midThird{
	margin-top: 100px;
	width: 100%;

	img{
		max-width: 175px;
		height: auto;
		}
}

.imgMakeSmall{
	img{
		max-width: 120px;
	}
}

.bartell{
	max-width: 10000px;
}

.midThirdWrapper{
	
	width: 100%;
	width: auto;
}


.midThird2{
	margin-top: 200px;
}


.bottomThird{
	margin-top: 50px;

	p{
	font-size: 20px;
		font-weight: 10px;
	}
}

.form-control{
	border-style: solid;
	border-color: black;
	border-width: 3px;
}


