.login-center {
    text-align: center;

    form {
        max-width: 300px;
        margin: 0 auto;

        .form-remember {
            margin-bottom: 10px;

            span {
                display: inline-block;
                text-align: left;
            }
        }
    }

    .login-message {
        margin-top: 20px;
    }
}
