/*

Hero Area Styles
    Hero Image Overlay Styles
    Check Mark Styles
Sponsor Area Styles
Benifits Area Styles

*/


/* HERO AREA STYLE */

[class*="arrow-box"] {
    background-size: cover;
    overflow: hidden;
    padding-bottom: 0px;
    position: relative;
}

[class*="arrow-box"]:before,
[class*="arrow-box"]:after {
    background-color: #fff;
    bottom: -200px;
    content: '';
    height: 200px;
    position: absolute;
    width: 100%;

}

[class*="arrow-box"]:before {
    left: 0;
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
    transform: skewY(15deg);
}

[class*="arrow-box"]:after {
    right: 0;
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -o-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

.box-sec,
.arrow-box-sec:before,
.arrow-box-sec:after {
    background-color: #f3f3f5;
}

/*HERO IMAGE OVERLAY*/

.mentor-image-overlay {
    color: white;
    text-align: center;
    height: 550px;
    background-image: url('/images/mentors/mentor-hero.jpg');
    font-size: 18px;
    padding: 50px 25px 50px 25px;
}

/*END HERO IMAGE OVERLAY*/

/***************************/

/*CHECK MARK STYLES*/
li:before {
    content: '✔';
    margin-left: -1em; margin-right: .100em;
}

ul{

   padding-left:20px;
   text-indent:2px;
    list-style: none;
   list-style-position:outside;

}

.button-text {
  margin-top: 40px;
  p,ul{
      text-align: left;
      line-height:1.8em;
      text-shadow: 1px 1px 2px hsla(0,0,0,0.8);
  }
  p{text-align: center;font-size:25px;font-size: 30px;}
  ul {margin-left: 60px;font-size: 18px}
}
/*END CHECK MARK STYLES*/

/***************************/

/*SEARCH BOX STYLES*/

.mentors-button {
    width: auto;
    height: 50px;
    font-size: 20px;
    padding: 10px 15px;
}

/*END SEARCH BOX STYLES*/
/***************************/
/*END HERO AREA STYLES*/

/***************************/
/***************************/

/*SPONSOR AREA STYLES*/

/*SECOND ARROW BOX*/

[class*="arrow-box2"] {
    background-size: cover;
    overflow: hidden;
    padding-bottom: 0px;
    position: relative;
}

[class*="arrow-box2"]:before,
[class*="arrow-box2"]:after {
    background-color: #F6F6F6;
    bottom: -200px;
    content: '';
    height: 200px;
    position: absolute;
    width: 100%;

}

[class*="arrow-box2"]:before {
    left: 0;
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
    transform: skewY(15deg);
}

[class*="arrow-box2"]:after {
    right: 0;
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -o-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

.box-sec,
.arrow-box-sec:before,
.arrow-box-sec:after {
    background-color: #f3f3f5;
}
