* {
  border-radius: 0 !important;
}

.no_padding{
border: 0px;
padding: 0px;
margin: 0px;
}

.container-fluid{
	padding:0px;
}

.navbar{
	width: 100%;
	background-color: black;
	padding: 0px;
	margin: 0px;
	height: 60px;
}

.logo{
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
}

p{
	background-color: white;
	height: 10px;
	width: 10px;
}

.button_group{
	float: right;
	display: none;
	
}



