#header-logo {
	margin: 10px 0;
}

#nav-buttons button {
	height: 36px;
	font-size: 14px;
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px ;
	display: inline-block;
    position: relative;
    height: 36px;
    padding: 0 16px;
    color: rgba(0,0,0,0.4);
    background: rgba(0,0,0,0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -webkit-transition: color .1s ease-in-out;
}

#nav-buttons button:hover {
	background-color: #96E6FA;
	color: #FFF;
	border: 1px solid #96E6FA; 

}