.about-image-overlay {
    color: white;
    text-align: center;
    background-image: url('/images/about/Culture-of-Code.jpg');
    padding: 40px 30px 60px 30px;
}
.about-image-overlay,.about-image-overlay-vision {
  p { font-size: 20px; line-height: 1.6em; font-weight: 400;letter-spacing: .01em}
}
.about-image-overlay-vision {
    color: black;
    text-align: center;
    background-image: url('/images/about/our-Vision.jpg');
    font-size: 18px;
    padding:40px 30px 60px 30px;
    margin-bottom: 30px;
}
.about-values {
    h3 {
        padding-top: 30px;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 80px;
    }
    img:first-of-type {margin-top: 40px}
    h4, p {
        text-align: center;
    }
}
.about-stewardship {
    padding-bottom: 30px;
    padding-bottom: 50px;
}
.about-pics {
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius:50%;
}
.about-bios {
    text-align: center;
}
.about-image-title {
    color: white;
}

.bottom-bar{
    width:100%;
    height: 20px;
    background-color: $link-secondary;
}
