.about-image-overlay {
	color: white;
	text-align: center;
	Height: 300px;
	Background-image: url('/images/about/Culture of Code.jpg');
	font-size: 18px;
    padding: 70px 25px 70px 25px;
}
.about-image-overlay-vision {
	color: white;
	text-align: center;
	Height: 200px;
	Background-image: url('/images/about/our Vision.jpg');
	font-size: 18px;
    padding: 60px 100px 60px 100px;
}
.about-values{
	padding-top: 30px;
	padding-bottom: 30px;
}
.about-stewardship{
	padding-bottom: 30px;
}
.about-pics{
	padding-top: 30px;
	padding-bottom: 10px;
	border-radius:50%;
}
.about-bios{
	text-align: center;
}
.about-image-title{
	color: white;
}
