
.profile-view-container {
	display:flex;
	justify-content:center;
	width:100%;
	flex-wrap:wrap;
	flex-direction:row;

}

.profile-image {
	width:400px;

}

.profile-info {
	display:flex;
	flex-direction:row;

}

.profile-contact {
	font-size: 18px;

}

.profile-skills{


}

.profile-bio {


}

.profile-submit{


}

//you spelled container wrong