
.profile-view-container {
    width: 100%;
    font-family: $lato;
}

.profile-page-title {
    font-family: $lato;
    font-weight: 100;
    font-size: 24px;
}

.profile-button-edit {
    position: relative;
    top: 0px;
}

.profile-image {
    margin: 10px auto;
    width: 250px;
    position: relative;

    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
        background-color: $link-secondary;
        border-radius: 3px;
        padding: 4px 8px;
    }
}

.profile-image img {
    width:250px;
    border-radius: 125px;
    box-shadow: $card-shadow;
}

.profile-info {
    font-weight: 100px;
}

.profile-contact {
    font-size: 14px;
    border-bottom: 2px solid $light-grey;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.profile-contact input {
    margin-right: 5px;
    margin-bottom: 5px;
}

.profile-contact input:last-of-type {
    margin-right: 0px;
}

.profile-contact-input {
    text-align: center;
}

.profile-skills-container {
    border-bottom: 2px solid $light-grey;
    margin-bottom: 20px;
}

.profile-skills-title {
    margin: 5px auto;
    text-align: center;
    font-weight: 700;
}

.profile-skill-tag-flex {
    margin-bottom: 5px;
}

.profile-skill-tags {
    margin-bottom: 5px;
}

.profile-skill-tag {
    font-size: 14px;
    margin: 5px 30px 5px 3px;
}

.shortbio-input {
    height: auto;
    padding: 5px;
}

.profile-bio {
    margin-bottom: 20px;
}
