.search-row.page {
padding: 10px;
font-family: $lato;
}

@media (max-width: $screen-sm-max) {
    .search-row.page {
        text-align: center;
    }
}

.search-result-image-flex {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.search-result-image {
    width:100%;
    border-radius:50%;
    max-width: 150px;
    display:block;
    margin:0 auto;
}


.search-name {
    font-size: 16px;
    margin-bottom: 3px;
}

.search-job-title {
    font-size:14px;
    font-weight: 300;
}

.search-bio {

}

.search-skills {
    margin-right: 5px;
    margin-bottom: 3px;
    border:1px solid #6E6E6E;
    border-radius:2px;
    padding:2px;

    &:last-child {
        margin-right: 0px;
    }

    &:hover{
        background-color: #C3C3C3;
    }
}

.search-info {
    div {
        display: inline-block;
    }
}

.search-view-profile-button {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100px;
    width:100%;


    button {
        width:100%;

    }
}
