$lato: 'Lato', Helvetica, Ariel, sans-serif;
$asap: 'Asap', Helvetica, Ariel, sans-serif;

$primary-color: #96E6FA;

$blue: #96E6FA;
$orange:#FA8840;
$orange: #ffa600; 
$grey: #181818;
$dark-blue: #25393E;

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

$background-grey: #F6F6F6;
$card-shadow: 0px 1px 3px 0px #A0A0A0;

$very-light-grey: #d2d2d2;
$light-grey: #9E9E9E;
$dark-grey: #888888;
$very-dark-grey: #4F4F51;

$near-white: #FAFAFA;
$near-black: #333333;

