$lato: 'Lato', Helvetica, Ariel, sans-serif;
$asap: 'Asap', Helvetica, Ariel, sans-serif;

$blue: #96E6FA;
$orange:#FA8840;
$orange: #ffa600; 
$grey: #181818;
$dark-blue: #25393E;

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

